:root {
    --c-dark: #052520;
    --c-brand: #0e6833;
    --c-brand-light: #11b173;
    --c-brand-rgb: 64, 162, 120;
    --c-brand-rgb-dark: 4, 98, 118;
    --c-body: #a0a0a0;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
    --c-brand-lesslight: #21352686;
}

#landpg {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.01), rgba(var(--c-brand-rgb), 0.01)), url(../landing/bgw3.jpeg);
    margin-top: 0;
    background-size: cover;
    display: flex;
    color: black;
}

#freepg {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.1), rgba(var(--c-brand-rgb), 0.5)), url(../landing/free.png);
    background-position: center;
    background-size: cover;
    justify-content: left;
    display: flex;
    padding-top: 80px;
    padding-bottom: 70px;
}

.appoint {
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: #052520;
    display: flex;
    width: 100%;
}

.btn-appoint {
    background-color: #0e6833;
    /* Green */
    border: 2px solid rgba(16, 131, 77, 0.63);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 6px;
    /* Adjust radius as needed */
    cursor: pointer;
}

.btn-apt {
    margin-top: 50px;
    min-width: 1000px;
}

/* landing.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff!important;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .text-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px; /* Oblong shape */
    margin-top: 5px;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px; /* Oblong shape */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  