:root {
    --c-dark: #052520;
    --c-brand: #0e6833;
    --c-brand-light: #11b173;
    --c-brand-rgb: 64, 162, 120;
    --c-brand-rgb-dark: 4, 98, 118;
    --c-body: #a0a0a0;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
    --c-brand-lesslight: #21352686;
}

.navbar {
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(to right, #52bd31a4, #4b6d608e, #53c57fa8, #14aa2d8e, #1f7e07b7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar-brand {
    position: fixed;
    display: flex;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
    max-height: 40px;
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

.btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 2;
    padding: 10px 24px;
    outline: auto;
}

.btn:hover {
    color:black;
}
/* Mobile and tablet-specific styles */
@media (max-width: 768px) {
    .navbar {
        justify-content: center;
    }

    .navbar-brand {
        position: static;
        flex: 1;
        justify-content: center;
        width: 100%;
    }

    .navbar-nav {
        display: none; /* Hide nav items if needed */
    }
}

/* Extra styles for very small screens */
@media (max-width: 480px) {
    .navbar {
        height: auto; /* Adjust height for small screens */
    }

    .navbar-brand {
        padding: 10px; /* Add some padding if needed */
    }

    .navbar-nav {
        display: none; /* Hide nav items if needed */
    }
}